<!-- views/partials/user-navigation.ejs -->
<h4>
  <a href="/signin">Sign-in</a> |
  <!-- go to sign-in/registration page form-->
  <a href="/signout">Sign-out</a> |

  <a href="#">Cart</a> |
  <!-- link to cart page -->

  <a href="/myOrders">My orders</a> <!-- link to my order page -->
</h4>
