<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HC Photography</title>
  <link rel="stylesheet"  type="text/css" href="/assets/catalog.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <% include ../partials/header.ejs %>
      <% include ../partials/user-navigation.ejs %>

    </div>
  </header>

  <% include ../partials/side-navigation.ejs %>


  <article>
    <div>
      <%
        console.log("Categories:"+data.catalogs);
          for(var i=0; i< data.catalogs.length; i++){
      %>
      <table class="cat-table">
        <thead>

            <tr>
                <th class="cat-heading"><%= data.catalogs[i] %></th>
            </tr>
        </thead>
      <tbody>
        <%
          for(var j=0; j< data.items.length;j++){
            if(data.catalogs[i] === data.items[j].category){ %>

              <tr>
                  <td class="cat-items"><a href="/catalog/item/<%= data.items[j].itemCode %>">
                    <%= data.items[j].itemName %></a></td>
              </tr>

             <% }
          }
           %>


      </tbody>

  </table>
  <% }%>
    </div>
  </article>





  <% include ../partials/footer.ejs %>
</body>

</html>
