<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HC Photography</title>
  <link rel="stylesheet"  type="text/css" href="/assets/contact.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="script.js"></script>

</head>

<body>

    <header>
      <div class="container">
        <% include ../partials/header.ejs %>
        <% include ../partials/user-navigation.ejs %>

      </div>
    </header>

    <% include ../partials/side-navigation.ejs %>


  <article>
    <div class="pontainer">
      <form id="contact" action="#" method="post" >
        <h3>Quick Contact</h3>
        <h4>Contact us today, and get reply with in 24 hours!</h4>
        <fieldset>
          <input placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    </div>
  </article>

  <% include ../partials/footer.ejs %>


</body>

</html>
