<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>HC Photography</title>

<!-- css files -->
<link rel="stylesheet"  type="text/css" href="/assets/index.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="script.js"></script>


</head>
<body>
  <header>
  <div class="container">


    <%- include ../partials/header %>


    <%- include ../partials/user-navigation %>

    </div>
    </header>

    <%- include ../partials/side-navigation %>


<article>


        <h2> Welcome to HC Photography's website ! </h2>
          <p>I am a current junior at UNC Charlotte and my main hobby is photography.
            I gained interest in photography during high school and has since sky-rocketed. I enjoy taking urban and landscape photography.
            I recently got into photographing NBA games and enjoy not only capturing game moments but also meeting some incredible players.
          </p>



      <p>Check out our <a href="catalog"> catalog</a> section to shop recent prints! </p>





</article>


    <%- include ../partials/footer %>



</body>

</html>
